<h1>Primeira página</h1>
<app-header></app-header>
<a [routerLink]="['pai']">Ir para componente pai</a> <br/>
<a [routerLink]="['rxjs']">Ir para componente rxjs</a> <br/>
<a [routerLink]="['listClient']">Ir para Lista pessoas</a> <br/>
<a [routerLink]="['userlist']">Ir para Lista usuarios</a> <br/>

<router-outlet></router-outlet>

<!--
<div *ngIf='clientPremium; else naoPremium'>
  Vocé é um cliente premium você tem acesso a informaçoes diferenciadas!
</div>

<ng-template #naoPremium>
  Nao é um cliente Premium.
</ng-template>
<br>
<button (click)="togglePremiumStatus()">Alternar Status</button>

<ul *ngFor="let valor of valores">
  <li>{{valor.id}} - {{valor.nome}} - {{valor.descricao}} </li>

</ul>

<button (click)="adicionar()">Adicionar Item</button>

<app-binding></app-binding>

<p>Data: {{umaData | date:'long'}}</p>
<p>Currency: {{umDinheiro | currency}}</p>
<p>Custom uppercase: {{nome | appUppercase}}</p>

<button (click)="sayHello()">Diga oi pelo serviço</button>
-->
